In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/data.csv', sep=",");

df

,title,company,salary,rating,review_count,types,location,relative_time,hires_needed,hires_needed_exact,...,indeed_applyable,ad_id,remote_location,source_id,hiring_event_job,indeed_apply_enabled,job_location_postal,company_overview_link,activity_date,location_extras
0,Android Developer,Shockoe,NaN,0.0,0,Full-time,"Richmond, VA",30+ days ago,NaN,NaN,...,False,NaN,False,11706594,False,False,NaN,NaN,NaN,NaN
1,Web Developer,"Denios, Inc.","$45,000 - $55,000 a year",0.0,0,Full-time,"Louisville, KY",30+ days ago,ONE,1,...,True,370154371.0,False,11468052,False,True,40219.0,NaN,Active 2 days ago,NaN
2,Sr. Android Developer,The Cervantes Group,NaN,4.1,22,Full-time,Remote,6 days ago,TWO_FOUR,2,...,True,NaN,False,9570478,False,True,NaN,/cmp/The-Cervantes-Group,Active 3 days ago,NaN
3,Junior Software Engineer,Medical Knowledge Group,NaN,0.0,0,Full-time,Remote,8 days ago,ONE,1,...,True,368864426.0,False,501562,False,True,NaN,NaN,Active 3 days ago,NaN
4,"Cloud Engineer (Software Engineer Advanced, Ex...",Federal Reserve Bank of New York,NaN,4.1,548,Full-time,"Kansas City, MO",2 days ago,NaN,NaN,...,False,NaN,False,1439,False,False,NaN,/cmp/Federal-Reserve-Bank-of-New-York,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58428,Mobile App Developer,SIDEARM Sports,NaN,4.7,6,NaN,"Syracuse, NY",8 days ago,NaN,NaN,...,False,NaN,False,35957,False,False,NaN,/cmp/Sidearm-Sports,NaN,NaN
58429,Senior Software Engineer (TCAT),Think Surgical,NaN,3.4,14,Full-time,"Fremont, CA",30+ days ago,NaN,NaN,...,False,NaN,False,20365446,False,False,94538.0,/cmp/Think-Surgical,NaN,Baylands
58430,Software Engineer,"Terma North America, Inc.",NaN,5.0,1,Full-time,"Warner Robins, GA",9 days ago,TWO_FOUR,2,...,True,372006846.0,False,5029109,False,True,31088.0,NaN,Active 6 days ago,NaN
58431,Systems Analyst/Programmer,Grant Blackford Mental Health,NaN,3.0,21,Full-time,"Marion, IN",2 days ago,NaN,1,...,True,372411121.0,False,6684082,False,True,46952.0,/cmp/Grant-Blackford-Mental-Health,NaN,Euclid Triangle
58432,Senior Engineer II-Software,Microchip Careers,NaN,0.0,0,Full-time,"San Jose, CA",6 days ago,NaN,NaN,...,False,NaN,False,6004,False,False,95134.0,NaN,NaN,North San Jose